* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Hind Madurai', sans-serif;
  font-weight: lighter;
  
}
body {
  align-items: center;
}
#game-container {
  height: 100vh;
  width: 100%;
  background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/31/97/1aXb6l.png");
  background-position: center;
  /* background-color: rgb(165, 177, 100); */
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.game-control {
    width: 350px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.main {
    display:flex;
    --s: 90px;  /* size  */
    --m: 1px;    /* margin */
    --f: calc(var(--s) * 6.732 + 2 * var(--m) - 1px); 
  }

  .container {
    font-size: 1; 
    color: white;
  }
  
  .container div {
    background-color: rgb(238, 194, 51);
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s) * 1.1547);
    display: inline-block;
    font-size:initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    margin-bottom: calc(var(--m) - var(--s) * 0.2885);
  }
  
  .container::before {
    content: "";
    width: calc(var(--s) / 2 + var(--m));
    float: left;
    height: 120%; 
    shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000 0 var(--f));
  }
  
#right-container {
  display: flex;
  width: 50%;
}
#left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;

  color: white;
  text-align: center;
}
#button-container {
  margin-top: 70;
  display: flex;
  justify-content: space-around;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}
#user-guess {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight:normal;
  text-align: center;
  border: 0;
  margin-bottom: 30;
  background-color: transparent;
  min-height: 30px;
}
#user-guess:focus {
  outline: none!important;
}
#user-guess:focus::placeholder {
  color: transparent;
}

#words-found {
  /* border-radius: 5px solid black; */
  color: white;
  width: 80%;
  padding: 10;
  background-color: transparent;
  height: 600px;
  border: 2px solid rgb(236, 216, 31);
  border-radius: 10px;
  filter: drop-shadow(0.1rem .1rem .1rem rgb(230, 219, 67));
}


#del-btn, #enter-btn, #new-game-btn {
  background-color: transparent;
  color: white; 
  border: 3px solid white;
  border-radius: 8px;
  /* box-shadow: none; */
  padding: 5px 9px;
  margin: 5px;
}
#del-btn:hover {
  border: 3px solid rgb(145, 41, 34);
  color:rgb(255, 202, 198);
  filter: drop-shadow(0.1rem .2rem 0.3rem rgb(230, 99, 67));
}
#new-game-btn:hover {
  border: 3px solid rgb(17, 150, 238);
  color: rgb(197, 217, 230);
  filter: drop-shadow(0.1rem .2rem 0.3rem rgb(17, 150, 238));
}
#enter-btn:hover {
  border: 3px solid rgb(52, 133, 41);
  color: rgb(213, 233, 211);
  filter: drop-shadow(0.1rem .2rem 0.3rem rgb(52, 133, 41));
}
#control-hex {
  position: relative;
  width: 400px;
  height: 400px;
}

/* bottom-middle */

.bottom-middle{ 
  position: absolute;
  left: 37.78%;
  right: 37.87%;
  top: 63.06%;
  bottom: 16.39%;
  
  /* background: #FFFFFF; */
  /* border: 1px solid #000000; */
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}



/* bottom-right */

.bottom-right{
  position: absolute;
  left: 59.07%;
  right: 16.48%;
  top: 52.04%;
  bottom: 27.41%;
  

  
}

.sizing {
  height: 90px;
  width: 90px;
}

.box .letter-cell {
  position: relative;
}

.letter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

/* top-rigth */

.top-right{ 
  position: absolute;
  left: 59.07%;
  right: 16.48%;
  top: 28.43%;
  bottom: 50.93%;
  

}

svg {
  padding-top: 0 !important;
  display: inline-block;
}

.box:hover svg{
  filter: drop-shadow(0rem 0rem 0.3rem rgb(250, 247, 46));
  fill: rgb(248, 253, 179);
  width: 92px;
  height: 92px;
  cursor: pointer;
}

.letter:hover {

  /* border-radius: 50%;
  background: rgb(81, 139, 214);
  background: radial-gradient(circle, rgba(142, 217, 240, 0.349) 0%, rgba(148,187,233,0) 100%); */
  cursor: pointer;
}



/* top-left */

.top-left{
  position: absolute;
  left: 16.39%;
  right: 59.17%;
  top: 28.43%;
  bottom: 50.93%;
  

}



/* bottom-left */

.bottom-left{
  position: absolute;
  left: 16.39%;
  right: 59.17%;
  top: 52.04%;
  bottom: 27.41%;
  

}



/* middle */
.middle {

position: absolute;
left: 37.78%;
right: 37.87%;
top: 39.72%;
bottom: 39.63%;
color: yellow;

}


/* top-middle */

.top-middle {
position: absolute;
left: 37.78%;
right: 37.87%;
top: 16.48%;
bottom: 62.96%;
}

.column-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;     
  align-items: center;
}
.win-message{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 3;
  /* width: 100%;
  left: ; */
  
  top: 3em;
}

#wrong-alert {
  background-color: rgba(0, 0, 0, 0.158);
  color: white;
  border-radius: 5px;
  border: none;
}